/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY GRID ===== */
body {
    font-family: "roboto", sans-serif;
    min-height: 100vh;
    line-height: 1.7;
    margin: 0;
    background-color: #f5f5f5;
    color: #222;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ===== HEADER ===== */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

#course-title {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #003366;


}

nav {
    display: flex;
    gap: 7rem;
    justify-content: center;
    margin-top: 0.75rem;
    background-color: #333;

}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;


}

nav a:hover {
    text-decoration: underline;
}

/* ===== MAIN LAYOUT ===== */
main {
    max-width: 1000px;
    margin: 1.5rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 3fr 1.5fr;
    gap: 1.5rem;
}

main h1 {
    text-align: center;
    margin: 1.5rem 0;
}

h1 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}

/* ===== CARDS ===== */
.card {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #fff;
    border-radius: 9px;
}

/* ===== ABOUT SECTION ===== */
.about-card h2,
.card h2 {
    margin-bottom: 0.75rem;
    color: #ffffffff;
    background-color: #003366;
    padding-bottom: 0.25rem;
    text-align: center;
}

/* About Me layout */
.about-flex {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.about-flex p {
    flex: 1;
}

.profile-img {
    width: 150px;
    height: auto;
}

/* ===== COUNTRY SECTION ===== */
.country-title {
    margin-bottom: 0.75rem;
    border-bottom: 2px #333;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #003366;
    text-align: center;
}

.country-flex {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.Flag-img {
    width: 100px;
    height: auto;
    border: 1px solid #ccc;
}

/* ===== WEB DEV RESOURCES ===== */
.card ul {
    margin-left: 1.2rem;
}

.card li {
    margin-bottom: 0.5rem;
}

/* ===== FOOTER ===== */
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 0.75rem;
    font-size: 0.9rem;
}