:root {
    --red: #c8102e;
    --green: #007a3d;
    --light: #eaf7e6;
    --dark: #222;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    background-color: var(--light);
    color: var(--dark);
}

header {
    background-color: var(--red);
    color: white;
    text-align: center;
    padding: 2rem 1;
}

header::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: var(--green);
    border-radius: 3px;
    margin-top: 0.5rem;
}


.hero img {
    width: 100%;
    height: auto;
}

main {
    padding: 1rem;
}

section {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.data h2,
.weather h2 {
    text-align: left;
    background-color: var(--green);
    color: white;
    border-radius: 1px;
    padding: 0.5rem;
    margin-left: -25px
}

.weather-icon {
    display: block;
    margin: 0 auto 1rem;
    width: 60px;
}

footer {
    background-color: var(--red);
    color: white;
    text-align: center;
    padding: 1rem;
}