@media only screen and (min-width: 32rem) {

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}